    <div class="site-header">
      <span class="site-title">{{ site.title }}</span>
    </div>

    <div class="site-menu">
      <ul style="list-style: none;">

        <li class="site-menu-item">
          <a class="site-menu-link" href="/">Home</a>
        </li>
        {% for page in site.pages %}
        <li class="site-menu-item">
          {% if page.title %}
          <a class="site-menu-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        </li>
        {% endfor %}
        <li class="site-menu-item">
          <a class="site-menu-link" href="mailto:{{ site.email }}">Contact</a>
        </li>
        <div style="clear:both;"></div>
      </ul>
    </div>
